.carouselMaxHeight {
    height: 800px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
}

.cardAlign {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}



















